body{

    background-color: black;
}
h1.txt{
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-weight: bold;
font-size:220px;
color: rgb(255, 255, 255);
position: absolute;
top: 350px;
left: 250px;
z-index: 2;
}
.io{
    font-size: 35px;
    color: rgb(255, 255, 255);
   text-decoration: none;
  position: absolute;
  
  top: 250px;
  left:700px ;
border: 3px solid rgb(0, 0, 0);
background-color: rgb(0,0,0);
text-decoration:overline;
}

a.io:hover{
background-color: rgb(255, 255, 255);
border: 3px solid rgb(255, 255, 255);
color: rgb(0, 0, 0);
transform: scale(1.5);
}

#img2{

    position: relative; /* Set the image as a reference for positioning */

    left: 35%; /* Adjust the left position */
    transform: translateX(-50%); 
    z-index: 1;
   

}
.txtsmall{
    font-family:  Courier;
    color: aliceblue;
   position: absolute;
   left: 100px;
top:805px ;
    
}

#infostan{
    color: rgb(0, 0, 0);
    position: absolute;
    left: 30%;
}


#infostan:hover{
    color: #ffffff;
    box-shadow: inset 0px 900px 0 0 #000000;
    

}

.popi{
    color: #ffffff;
}
#lilhome{
    color: #ffffff;
    text-decoration: none;
}

#lilhome:hover{
    text-decoration: none;
    color: #4fe10b;
    font-size: 20px;

}