body{
    font-size: 95%;
 font-family: "Courier New", Courier, monospace;
 letter-spacing: 0.15em;
 font-weight: bold;

    background-color: rgb(251, 251, 248);
}
div#wpage{

    border-style: double;
    border-width: 5px;
    min-width:720px ;
    max-width: 100%;
   

}
div#top{
  width: 150px;
 margin:0px auto 0px auto;

 
 
    
}

h3{
    font-family:'Courier New', Courier, monospace;

   font-size: 16px;

}

h3>span.sp1{
    font-size: 50px;
    

}

span.sp{
    font-size: larger;
    
    letter-spacing: 5px;
}
ul{
    width: 550px;
    min-width: none;
  text-align: center;
  margin:20px auto 20px auto;
  border-top: 3px solid black;
  padding: 10px;
  border-bottom: 3px solid black;
  word-spacing: 30px;


}

li{
    display: inline;
    
    
}
p{
width: 600;
text-align: center;
margin: 20px auto 20px auto;

}
a.daddy{
    text-decoration: none;
    color: black;
}
a.daddy:hover{
    color: chocolate;
    text-decoration: underline;
}
p.img{
 transform:rotateY(35deg)

}
p.img:hover{
 transform: scale(1.05);
 

}
