body{
    text-transform: capitalize;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:500;
    word-spacing: 2px;

}
h1{
    color: rgb(77, 76, 76);
    font-family:Arial, Helvetica, sans-serif;
}

ul{
width: 250px;

list-style-image: url("./opacity.png");
margin-top: 30px;
margin-left: 20px;

}
li{
    padding: 4px;

}
table{
    border-spacing: 0px;
    margin-left: 3px;
    
}
th{
   
    border-top: 1px solid #90b4d6 ;
    border-bottom: 2px solid #2784da;
    background-color:  #90b4d6;
    color: #e8eff5;




}
.emp{
   padding-left: 45px;
   border-left: #ffffff;
   font-weight: bold;
}

td,th{
    border-left: 1.2px solid rgb(200, 193, 193);
    padding-top: 5px;
    padding-bottom: 5px;
    

    


}

td{
    border-bottom: 1.2px solid rgb(200, 193, 193);
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    background-color: #e8eff5;;
}

th:first-child{

   border-top-left-radius: 7px;
}

th:last-child{

    border-top-right-radius: 7px;
 }
#ew{
    background-color: #bfd4e7;
}


legend{
font-style: oblique;

}
fieldset{
    width: 300px;
    margin-top: 20px;
    border: 2px double black;
}


div{

    padding: 8px;
}

span{
padding-left: 8px;

}